<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Schedule</title>
    <link rel="stylesheet" href="../styles/work schedule.css">
</head>
<body>
     <header class="header">
        <div class="logo">
           <img src="../assets/icons/pesas.png" alt="logo" style="vertical-align:middle; margin-right:8px;">
            FitTracker
        </div>
        <nav class="nav">
            <a href="../index.html">Dashboard</a>
            <a href="Workouts.html">Workouts</a>
            <a class="active" href="work schedule.html">Schedule</a>
            <a href="Progress reports.html">Reports</a>
        </nav>
        <div class="user-icon">
            <span class="user-circle">SV</span>
        </div>
    </header>
    <main class="main">
        <section class="schedule-header">
            <div>
                <h1>Workout Schedule</h1>
                <p>Plan and manage your training sessions</p>
            </div>
            <button class="primary-btn"> <a class="boton" href="work schedule.html">+ Schedule Workout </a></button>
        </section>


        <section class="upcoming-section">
            <h2>Upcoming Workouts</h2>
            <div class="upcoming-list">
                <div class="upcoming-card blue">
                    <div>
                        <strong>Upper Body Strength</strong>
                        <div class="upcoming-details">Today, 6:00 PM</div>
                    </div>
                    <button class="primary-btn small">Start Now</button>
                </div>
                <div class="upcoming-card green">
                    <div>
                        <strong>Cardio Session</strong>
                        <div class="upcoming-details">Tomorrow, 7:00 AM</div>
                    </div>
                    <button class="secondary-btn small">Reschedule</button>
                </div>
                <div class="upcoming-card purple">
                    <div>
                        <strong>Leg Day Power</strong>
                        <div class="upcoming-details">Friday, 5:30 PM</div>
                    </div>
                    <button class="secondary-btn small">Reschedule</button>
                </div>
            </div>
        </section>
    </main>
</body>
</html>